<?xml version="1.0" ?>
<config>  
	<!-- Global simulation parameters -->
	<output resultsFile="./data/province.h5" logsDir="./logs"/>
	<numSteps value="30" serializeResolution="1"/> 
	<!-- be sure than serializResolution == X * cultural step * 3 -->
	<size width="1800" height="1"/>
	<numAgents value="200"/>
	<market size=".2"/>
	<controller type="basic" >
	    <good type="manual"/> <!-- could be : random,randn,manual,gintis07--> 
	    <agent type="custom"/>  <!-- could be : custom,gintis07,gintis06-->
	    <trade type="gintis06-outneed"/> <!-- could be : custom,gintis07,gintis06,gintis06-outneed -->
	    <culture transmission="copymin" innovation="trade" mumax=".05" mutation=".18" step="5"/>
	</controller>

	<!--
	<network type="sw" nparam="2">
	    	<prop0 id="v" value= "2"/>
	    	<prop1 id="p" value= ".1"/>
	</network>
	-->
	<!--
	<network type="sf" nparam="1">
	    	<prop0 id="m" value= "3"/>
	</network>
	-->
	<network type="full" nparam="1">
	    	<prop0 id="p" value= ".2"/>
	</network>

	<!--
	<goods num="5">
	       	<good   id="proto"      initialQuantity="0"     maxQuantity="1000"      price="-1.0"    need="-1.0"     productionRate="0"/>
	</goods>
-->

	<goods num="2">
		<good0	id="g0"	initialQuantity="0"	maxQuantity="1000"	price="1.10"	need="1.0"	productionRate="0"/>
		<good1	id="g1"	initialQuantity="0"	maxQuantity="1000"	price="0.10"	need="10"	productionRate="0"/>
	</goods>

	<events type="rate" rate="1000">
	</events>


</config>

