<?xml version="1.0" ?>
<config>  
	<!-- Global simulation parameters -->
	<output resultsFile="./data/province.h5" logsDir="./logs"/>
	<numSteps value="15000" serializeResolution="450"/> 
	<!-- be sure than serializResolution == X * cultural step * 3 -->
	<size width="1800" height="1"/>
	<numAgents value="300"/>
	<market size=".5"/>
	<controller type="basic" >
	    <good type="random"/> <!-- how good need are initialized can be : random,randn,manual,gintis07--> 
	    <agent type="custom"/> <!--not used-->
	    <trade volsel="gintis06" util="gintis06"/>
	    <!-- trade/volsel allow to choose how requested quantities are selected can be : custom,gintis07,gintis06,gintis06-outneed -->
<!--trade/util allow to choose how agent score is computed can be : custom,gintis07,gintis06-->

	    <culture transmission="copymax" innovation="trade" mumax=".05" mutation=".18" step="15"/>
	</controller>

	<!--
	<network type="sw" nparam="2">
	    	<prop0 id="v" value= "2"/>
	    	<prop1 id="p" value= ".1"/>
	</network>
	-->
	<!--
	<network type="sf" nparam="1">
	    	<prop0 id="m" value= "3"/>
	</network>
	-->
	<network type="integrate" nparam="1">
	    	<prop0 id="p" value= ".2"/>
	</network>


	<goods num="3">
	       	<good   id="proto"      initialQuantity="0"     maxQuantity="1000"      price="-1.0"    need="-1.0"     productionRate="0"/>
	</goods>

	<!--
	<goods num="3">
		<good0	id="g0"	initialQuantity="0"	maxQuantity="1000"	price="1"	need="1.0"	productionRate="0"/>
		<good1	id="g1"	initialQuantity="0"	maxQuantity="1000"	price=".5"	need="2.0"	productionRate="0"/>
		<good2	id="g2"	initialQuantity="0"	maxQuantity="1000"	price=".3333"	need="3.0"	productionRate="0"/>
		<good3	id="g3"	initialQuantity="0"	maxQuantity="1000"	price="1"	need="4.0"	productionRate="0"/>
		<good4	id="g4"	initialQuantity="0"	maxQuantity="1000"	price="1"	need="5.0"	productionRate="0"/>
		<good5	id="g5"	initialQuantity="0"	maxQuantity="1000"	price="1"	need="6.0"	productionRate="0"/>
	</goods>

-->
	<!-- <events type="rate" rate="1000"/> -->


</config>

