<?xml version="1.0" ?>
<config>
    <output resultsFile="./data/province.h5" logsDir="./logs" />
    <numSteps value="150" serializeResolution="45" />
    <size width="1800" height="1" />
    <numAgents value="600" />
    <market size=".12"/>
    <controller type="basic">
	<agent type="custom"/> <!--not used-->
	<trade volsel="gintis06-outneed" util="custom"/>
	<!-- trade/volsel allow to choose how requested quantities are selected can be : custom,gintis07,gintis06,gintis06-outneed -->
<!--trade/util allow to choose how agent score is computed can be : custom,gintis07,gintis06-->

	    <culture transmission="copymin" innovation="trade" mumax="1" mutation=".18"  step="5"/>
	    <good type="random" />

	</controller>
    <network type="sw" nparam="2">
        <prop0 id="p" value="0.01" />
        <prop1 id="v" value="2" />
    </network>
    <goods num="3">
        <good id="proto" initialQuantity="0" maxQuantity="1000" price="-1" need="-1" productionRate="0" />
    </goods>
</config>
